<!DOCTYPE html>
<html>
    <head>
      <title>ABOUT PAGE</title>
        <link rel="stylesheet" href="../static/index.css">
    </head>
    <body style="background-color: rgb(239, 187, 227);;">
      
      <nav>
        <ul class="nav">
          <li><a  href="index.html">HOME</a></li>
          <li><a class="active" href="about.html">ABOUT</a></li>
          <li><a href="artists.html">ARTISTS</a></li>
        </ul>
      </nav>
      <p style="margin-top: 100px;"></p>
            <div style="color:black">
        <div class="bordered">
            <!-- <b>MUSICAL NOTES are the ATOMS of the MELODY UNIVERSE</b> -->
            <div id="typing-text"></div>
        </div>
        <div class="contain">
            <div class="content">
              <pre class="padding">
 Our music website, a platform for music enthusiasts to connect,
 discover, and share their love for music.It is dedicated
 to promote the best in music from around the world.We strive to 
 provide a comprehensive resource for music fans, featuring artist profiles,
 curated playlists,top charts.</pre>
                <pre class="padding">
 Our team is passionate about music and committed to delivering 
 high-quality content that is engaging, informative, and entertaining.
 Our website is designed with an intuitive user interface and a seamless
 navigation experience, making it effortless for music enthusiasts of all 
 backgrounds and levels of expertise to navigate and explore. With a 
 user-friendly design that emphasizes simplicity and accessibility,
 our platform offers a streamlined approach to discovering, sharing,
 and enjoying the best in music from around the world.</pre>
            </div>
            <div class="divider"></div>
            <div class="sidebar">
              <img src="../static/musicalnotes.jpeg" width="1000" height="500">
            </div>
          </div>
          <pre class="line">
            <h1 style="font-size: 80px;"><b>MUSIC</b> is WHAT FEELINGS <b>SOUND</b> LIKE</h1>
            <hr style="width:30%;text-align:left;margin-left:0">  
            <div class="header">
              <img class="header-image" src="../static/chaitrikam.png" alt="Profile Image">
              <div class="header-text">Chaitrika Mukthapuram</div>
              <div class="header-artist">chaitrika.m@students.iiit.ac.in</div>
            </div>
           
              <hr style="width:30%;text-align:left;margin-left:0"> 
              <div class="header">
                <img class="header-image" src="../static/sreejap.png" alt="Profile Image">
                <div class="header-text">Sreeja Palle</div>
                <div class="header-artist">palle.sreeja@students.iiit.ac.in</div>
              </div>
    
            
            
            <hr style="width:30%;text-align:left;margin-left:0">
          </div>

        
    </div>
    
    <footer>
    
        <p>Turn Up The Volume And Let The Music Speak</p>
        <a href="about.html"><b>About</b></a>
      </footer>
      <script src="../static/script.js"></script>
</body>
</html>
