<!DOCTYPE html>
 <html>
   <head>
     <title>SONGS PAGE</title>
     <head>
      <link rel="stylesheet" href="../static/index.css">
  
  </head>
  <body class="body">
    <nav>
      <ul class="nav">
        <li><a  href="index.html">HOME</a></li>
        <li><a href="about.html">ABOUT</a></li>
        <li><a class="active" href="artists.html">ARTISTS</a></li> 
        <li><a href="search.html">SEARCH</a></li>
        <li><a href="artist_spotlight.html">ARTIST SPOTLIGHT</a></li>
        <li><a href="playlist.html">PLAYLIST</a></li>
      </ul>
    </nav>
    <img src="../static/musicalnotes.jpeg" width="100%" height="400">
    
    <div class="wrapper">
    <div class="header">
      <img class="header-image" src="../static/weeknd.jpeg" alt="Profile Image">
      <div class="header-text">Kiss land </div>
      <div class="header-artist">WEEKND</div>
    </div>
    <div class="song-container">
      <div class="song-box">
        <img class="song-image" src="../static/kl.jpeg" alt="Song 1">
        <div>
          <div class="song-title">Kiss Land</div>
          
          <div class="song-timestamp">7:35</div>
          <form action="/add" method="POST">
            <input type="hidden" name="artist" value="WEEKND">
            <input type="hidden" name="album" value="Kiss Land">
            <input type="hidden" name="song" value="Kiss Land">
            <input type="hidden" name="url" value="7:35">
            <input type="submit" value="Add to Playlist">
        </form>
        
        </div>
      </div>
      <div class="song-box">
        <img class="song-image" src="../static/kl.jpeg" alt="Song 2">
        <div>
          <div class="song-title">The Town</div>
          
          <div class="song-timestamp">5:07</div>
          <form action="/add" method="POST">
            <input type="hidden" name="artist" value="WEEKND">
            <input type="hidden" name="album" value="Kiss Land">
            <input type="hidden" name="song" value="The Town">
            <input type="hidden" name="url" value="5:07">
            <input type="submit" value="Add to Playlist">
        </form>
        
        </div>
      </div>
      <div class="song-box">
        <img class="song-image" src="../static/kl.jpeg" alt="Song 3">
        <div>
          <div class="song-title">Pretty</div>
          
          <div class="song-timestamp">6:15</div>
          <form action="/add" method="POST">
            <input type="hidden" name="artist" value="WEEKND">
            <input type="hidden" name="album" value="Kiss Land">
            <input type="hidden" name="song" value="Pretty">
            <input type="hidden" name="url" value="6:15">
            <input type="submit" value="Add to Playlist">
        </form>
        
        </div>
      </div>
      <div class="song-box">
        <img class="song-image" src="../static/kl.jpeg" alt="Song 4">
        <div>
          <div class="song-title">Wanderlust</div>
         
          <div class="song-timestamp">5:07</div>
          <form action="/add" method="POST">
            <input type="hidden" name="artist" value="WEEKND">
            <input type="hidden" name="album" value="Kiss Land">
            <input type="hidden" name="song" value="Wanderlust">
            <input type="hidden" name="url" value="5:07">
            <input type="submit" value="Add to Playlist">
        </form>
        
        </div>
      </div>
      <div class="song-box">
        <img class="song-image" src="../static/kl.jpeg" alt="Song 5">
        <div>
          <div class="song-title">Live For</div>
          <div class="song-timestamp">3:44</div>
          <form action="/add" method="POST">
            <input type="hidden" name="artist" value="WEEKND">
            <input type="hidden" name="album" value="Kiss Land">
            <input type="hidden" name="song" value="Live For">
            <input type="hidden" name="url" value="3:44">
            <input type="submit" value="Add to Playlist">
        </form>
        
        </div>
      </div>
    </div>
    <footer>
    
      <p>Turn Up The Volume And Let The Music Speak</p>
      <a href="about.html"><b>About</b></a>
    </footer>
    
  </body>
</html>  
