<!DOCTYPE html>
 <html>
   <head>
     <title>SONGS PAGE</title>
     <head>
      <link rel="stylesheet" href="../static/index.css">
  
  </head>
  <body class="body">
    <nav>
        <ul class="nav">
          <li><a  href="index.html">HOME</a></li>
          <li><a href="about.html">ABOUT</a></li>
          <li><a class="active" href="artists.html">ARTISTS</a></li> 
          <li><a href="search.html">SEARCH</a></li>
          <li><a href="artist_spotlight.html">ARTIST SPOTLIGHT</a></li>
          <li><a href="playlist.html">PLAYLIST</a></li>
        </ul>
      </nav>
      <img src="../static/musicalnotes.jpeg" width="100%" height="400">
    
    <div class="wrapper">
    <div class="header">
      <img class="header-image" src="../static/eds.jpeg" alt="Profile Image">
      <div class="header-text">NO.6 COLLABORATIONS PROJECT</div>
      <div class="header-artist">ED SHEERAN</div>
    </div>
    <div class="song-container">
      <div class="song-box">
        <img class="song-image" src="../static/no6.jpeg" alt="Song 1">
        <div>
          <div class="song-title">Feels</div>
          
          <div class="song-timestamp">2:31</div>
          <form action="/add" method="POST">
            <input type="hidden" name="artist" value="ED SHEERAN">
            <input type="hidden" name="album" value="NO.6 COLLABORATIONS PROJECT">
            <input type="hidden" name="song" value="Feels">
            <input type="hidden" name="url" value="2:31">
            <input type="submit" value="Add to Playlist">
        </form>
        
        </div>
      </div>
      <div class="song-box">
        <img class="song-image" src="../static/no6.jpeg" alt="Song 2">
        <div>
          <div class="song-title">Beautiful People</div>
          
          <div class="song-timestamp">3:18</div>
          <form action="/add" method="POST">
            <input type="hidden" name="artist" value="ED SHEERAN">
            <input type="hidden" name="album" value="NO.6 COLLABORATIONS PROJECT">
            <input type="hidden" name="song" value="Beautiful People">
            <input type="hidden" name="url" value="3:18">
            <input type="submit" value="Add to Playlist">
        </form>
        
        </div>
      </div>
      <div class="song-box">
        <img class="song-image" src="../static/no6.jpeg" alt="Song 3">
        <div>
          <div class="song-title">Remember The Name</div>
          
          <div class="song-timestamp">3:28</div>
          <form action="/add" method="POST">
            <input type="hidden" name="artist" value="ED SHEERAN">
            <input type="hidden" name="album" value="NO.6 COLLABORATIONS PROJECT">
            <input type="hidden" name="song" value="Remember The Name">
            <input type="hidden" name="url" value="3:28">
            <input type="submit" value="Add to Playlist">
        </form>
        
        </div>
      </div>
      <div class="song-box">
        <img class="song-image" src="../static/no6.jpeg" alt="Song 4">
        <div>
          <div class="song-title">Best Part Of Me</div>
         
          <div class="song-timestamp">4:03</div>
          <form action="/add" method="POST">
            <input type="hidden" name="artist" value="ED SHEERAN">
            <input type="hidden" name="album" value="NO.6 COLLABORATIONS PROJECT">
            <input type="hidden" name="song" value="Best Part Of Me">
            <input type="hidden" name="url" value="4:03">
            <input type="submit" value="Add to Playlist">
        </form>
        
        </div>
      </div>
      <div class="song-box">
        <img class="song-image" src="../static/no6.jpeg" alt="Song 5">
        <div>
          <div class="song-title">Blow</div>
          <div class="song-timestamp">3:29</div>
          <form action="/add" method="POST">
            <input type="hidden" name="artist" value="ED SHEERAN">
            <input type="hidden" name="album" value="NO.6 COLLABORATIONS PROJECT">
            <input type="hidden" name="song" value="Blow">
            <input type="hidden" name="url" value="3:29">
            <input type="submit" value="Add to Playlist">
        </form>
        
        </div>
      </div>
    </div>
    <footer>
    
        <p>Turn Up The Volume And Let The Music Speak</p>
        <a href="about.html"><b>About</b></a>
      </footer>
      
  </body>
</html>  
