<!DOCTYPE html>
 <html>
   <head>
     <title>SONGS PAGE</title>
     <head>
      <link rel="stylesheet" href="../static/index.css">
  
  </head>
  <body class="body">
    <nav>
      <ul class="nav">
        <li><a  href="index.html">HOME</a></li>
        <li><a href="about.html">ABOUT</a></li>
        <li><a class="active" href="artists.html">ARTISTS</a></li> 
        <li><a href="search.html">SEARCH</a></li>
        <li><a href="artist_spotlight.html">ARTIST SPOTLIGHT</a></li>
        <li><a href="playlist.html">PLAYLIST</a></li>
      </ul>
    </nav>
    <img src="../static/musicalnotes.jpeg" width="100%" height="400">
    
    <div class="wrapper">
    <div class="header">
      <img class="header-image" src="../static/arianag.jpeg" alt="Profile Image">
      <div class="header-text">DANGEROUS WOMAN</div>
      <div class="header-artist">ARIANA GRANDE</div>
    </div>
    <div class="song-container">
      <div class="song-box">
        <img class="song-image" src="../static/dw.jpeg" alt="Song 1">
        <div>
          <div class="song-title">Touch It</div>
          
          <div class="song-timestamp">4:20</div>
          <form action="/add" method="POST">
            <input type="hidden" name="artist" value="ARIANA GRANDE">
            <input type="hidden" name="album" value="DANGEROUS WOMAN">
            <input type="hidden" name="song" value="Touch It">
            <input type="hidden" name="url" value="4:20">
            <input type="submit" value="Add to Playlist">
        </form>
        
        </div>
      </div>
      <div class="song-box">
        <img class="song-image" src="../static/dw.jpeg" alt="Song 2">
        <div>
          <div class="song-title">I Don't Care</div>
          
          <div class="song-timestamp">2:58</div>
          <form action="/add" method="POST">
            <input type="hidden" name="artist" value="ARIANA GRANDE">
            <input type="hidden" name="album" value="DANGEROUS WOMAN">
            <input type="hidden" name="song" value="I Don't Care">
            <input type="hidden" name="url" value="2:58">
            <input type="submit" value="Add to Playlist">
        </form>
        
        </div>
      </div>
      <div class="song-box">
        <img class="song-image" src="../static/dw.jpeg" alt="Song 3">
        <div>
          <div class="song-title">Everyday</div>
          
          <div class="song-timestamp">3:14</div>
          <form action="/add" method="POST">
            <input type="hidden" name="artist" value="ARIANA GRANDE">
            <input type="hidden" name="album" value="DANGEROUS WOMAN">
            <input type="hidden" name="song" value="Everyday">
            <input type="hidden" name="url" value="3:14">
            <input type="submit" value="Add to Playlist">
        </form>
        
        </div>
      </div>
      <div class="song-box">
        <img class="song-image" src="../static/dw.jpeg" alt="Song 4">
        <div>
          <div class="song-title">Side To Side</div>
         
          <div class="song-timestamp">3:46</div>
          <form action="/add" method="POST">
            <input type="hidden" name="artist" value="ARIANA GRANDE">
            <input type="hidden" name="album" value="DANGEROUS WOMAN">
            <input type="hidden" name="song" value="Side To Side">
            <input type="hidden" name="url" value="3:46">
            <input type="submit" value="Add to Playlist">
        </form>
        
        </div>
      </div>
      <div class="song-box">
        <img class="song-image" src="../static/dw.jpeg" alt="Song 5">
        <div>
          <div class="song-title">Into You</div>
          <div class="song-timestamp">4:04</div>
          <form action="/add" method="POST">
            <input type="hidden" name="artist" value="ARIANA GRANDE">
            <input type="hidden" name="album" value="DANGEROUS WOMAN">
            <input type="hidden" name="song" value="Into You">
            <input type="hidden" name="url" value="4:04">
            <input type="submit" value="Add to Playlist">
        </form>
        
        </div>
      </div>
    </div>
    <footer>
    
      <p>Turn Up The Volume And Let The Music Speak</p>
      <a href="about.html" ><b>About</b></a>
    </footer>
    
  </body>
</html>  
