<!DOCTYPE html>
 <html>
   <head>
     <title>SONGS PAGE</title>
     <head>
      <link rel="stylesheet" href="../static/index.css">
  
  </head>
  <body class="body">
    <nav>
      <ul class="nav">
        <li><a  href="index.html">HOME</a></li>
        <li><a href="about.html">ABOUT</a></li>
        <li><a class="active" href="artists.html">ARTISTS</a></li> 
        <li><a href="search.html">SEARCH</a></li>
        <li><a href="artist_spotlight.html">ARTIST SPOTLIGHT</a></li>
        <li><a href="playlist.html">PLAYLIST</a></li>
      </ul>
    </nav>
    <img src="../static/musicalnotes.jpeg" width="100%" height="400">
    
    <div class="wrapper">
    <div class="header">
      <img class="header-image" src="../static/one direction.jpeg" alt="Profile Image">
      <div class="header-text">Four</div>
      <div class="header-artist">ONE DIRECTION</div>
    </div>
    <div class="song-container">
      <div class="song-box">
        <img class="song-image" src="../static/4.jpeg" alt="Song 1">
        <div>
          <div class="song-title">Steal My Girl</div>
          
          <div class="song-timestamp">3:48</div>
          <form action="/add" method="POST">
            <input type="hidden" name="artist" value="ONE DIRECTION">
            <input type="hidden" name="album" value="Four">
            <input type="hidden" name="song" value="Steal My Girl">
            <input type="hidden" name="url" value="3:48">
            <input type="submit" value="Add to Playlist">
        </form>
        
        </div>
      </div>
      <div class="song-box">
        <img class="song-image" src="../static/4.jpeg" alt="Song 2">
        <div>
          <div class="song-title">18</div>
          
          <div class="song-timestamp">4:08</div>
          <form action="/add" method="POST">
            <input type="hidden" name="artist" value="ONE DIRECTION">
            <input type="hidden" name="album" value="Four">
            <input type="hidden" name="song" value="18">
            <input type="hidden" name="url" value="4:08">
            <input type="submit" value="Add to Playlist">
        </form>
        
        </div>
      </div>
      <div class="song-box">
        <img class="song-image" src="../static/4.jpeg" alt="Song 3">
        <div>
          <div class="song-title">Night Changes</div>
          
          <div class="song-timestamp">3:46</div>
          <form action="/add" method="POST">
            <input type="hidden" name="artist" value="ONE DIRECTION">
            <input type="hidden" name="album" value="Four">
            <input type="hidden" name="song" value="Night Changes">
            <input type="hidden" name="url" value="3:46">
            <input type="submit" value="Add to Playlist">
        </form>
        
        </div>
      </div>
      <div class="song-box">
        <img class="song-image" src="../static/4.jpeg" alt="Song 4">
        <div>
          <div class="song-title">Ready To Run</div>
         
          <div class="song-timestamp">3:16</div>
          <form action="/add" method="POST">
            <input type="hidden" name="artist" value="ONE DIRECTION">
            <input type="hidden" name="album" value="Four">
            <input type="hidden" name="song" value="Ready To Run">
            <input type="hidden" name="url" value="3:16">
            <input type="submit" value="Add to Playlist">
        </form>
        
        </div>
      </div>
      <div class="song-box">
        <img class="song-image" src="../static/4.jpeg" alt="Song 5">
        <div>
          <div class="song-title">Girl Almighty</div>
          <div class="song-timestamp">3:21</div>
          <form action="/add" method="POST">
            <input type="hidden" name="artist" value="ONE DIRECTION">
            <input type="hidden" name="album" value="Four">
            <input type="hidden" name="song" value="Girl Almighty">
            <input type="hidden" name="url" value="3:21">
            <input type="submit" value="Add to Playlist">
        </form>
        
        </div>
      </div>
    </div>
    <footer>
    
      <p>Turn Up The Volume And Let The Music Speak</p>
      <a href="about.html"><b>About</b></a>
    </footer>
    
  </body>
</html>  
