<!DOCTYPE html>
 <html>
   <head>
     <title>SONGS PAGE</title>
     <head>
      <link rel="stylesheet" href="../static/index.css">
  
  </head>
  <body class="body">
    <nav>
      <ul class="nav">
        <li><a  href="index.html">HOME</a></li>
        <li><a href="about.html">ABOUT</a></li>
        <li><a class="active" href="artists.html">ARTISTS</a></li> 
        <li><a href="search.html">SEARCH</a></li>
        <li><a href="artist_spotlight.html">ARTIST SPOTLIGHT</a></li>
        <li><a href="playlist.html">PLAYLIST</a></li>
      </ul>
    </nav>
    <img src="../static/musicalnotes.jpeg" width="100%" height="400">
    
    <div class="wrapper">
    <div class="header">
      <img class="header-image" src="../static/weeknd.jpeg" alt="Profile Image">
      <div class="header-text">Dawn FM</div>
      <div class="header-artist">WEEKND</div>
    </div>
    <div class="song-container">
      <div class="song-box">
        <img class="song-image" src="../static/df.jpeg" alt="Song 1">
        <div>
          <div class="song-title">Out of time</div>
          
          <div class="song-timestamp">3:35</div>
          <form action="/add" method="POST">
            <input type="hidden" name="artist" value="WEEKND">
            <input type="hidden" name="album" value="Dawn FM">
            <input type="hidden" name="song" value="Out of time">
            <input type="hidden" name="url" value="3:35">
            <input type="submit" value="Add to Playlist">
        </form>
        
        </div>
      </div>
      <div class="song-box">
        <img class="song-image" src="../static/df.jpeg" alt="Song 2">
        <div>
          <div class="song-title">Gasoline</div>
          
          <div class="song-timestamp">3:33</div>
          <form action="/add" method="POST">
            <input type="hidden" name="artist" value="WEEKND">
            <input type="hidden" name="album" value="Dawn FM">
            <input type="hidden" name="song" value="Gasoline">
            <input type="hidden" name="url" value="3:33">
            <input type="submit" value="Add to Playlist">
        </form>
        
        </div>
      </div>
      <div class="song-box">
        <img class="song-image" src="../static/df.jpeg" alt="Song 3">
        <div>
          <div class="song-title">Sacrifice</div>
          
          <div class="song-timestamp">3:09</div>
          <form action="/add" method="POST">
            <input type="hidden" name="artist" value="WEEKND">
            <input type="hidden" name="album" value="Dawn FM">
            <input type="hidden" name="song" value="Sacrifice">
            <input type="hidden" name="url" value="3:09">
            <input type="submit" value="Add to Playlist">
        </form>
        
        </div>
      </div>
      <div class="song-box">
        <img class="song-image" src="../static/df.jpeg" alt="Song 4">
        <div>
          <div class="song-title">Dawn FM</div>
         
          <div class="song-timestamp">1:37</div>
          <form action="/add" method="POST">
            <input type="hidden" name="artist" value="WEEKND">
            <input type="hidden" name="album" value="Dawn FM">
            <input type="hidden" name="song" value="Dawn FM">
            <input type="hidden" name="url" value="1:37">
            <input type="submit" value="Add to Playlist">
        </form>
        
        </div>
      </div>
      <div class="song-box">
        <img class="song-image" src="../static/df.jpeg" alt="Song 5">
        <div>
          <div class="song-title">Here We Go..Again</div>
          <div class="song-timestamp">3:30</div>
          <form action="/add" method="POST">
            <input type="hidden" name="artist" value="WEEKND">
            <input type="hidden" name="album" value="Dawn FM">
            <input type="hidden" name="song" value="Here We Go..Again">
            <input type="hidden" name="url" value="3:30">
            <input type="submit" value="Add to Playlist">
        </form>
        
        </div>
      </div>
    </div>
    <footer>
    
      <p>Turn Up The Volume And Let The Music Speak</p>
      <a href="about.html"><b>About</b></a>
    </footer>
    
  </body>
</html>  
