<!DOCTYPE html>
 <html>
   <head>
     <title>SONGS PAGE</title>
     <head>
      <link rel="stylesheet" href="../static/index.css">
  
  </head>
  <body class="body">
    <nav>
      <ul class="nav">
        <li><a  href="index.html">HOME</a></li>
        <li><a href="about.html">ABOUT</a></li>
        <li><a class="active" href="artists.html">ARTISTS</a></li> 
        <li><a href="search.html">SEARCH</a></li>
        <li><a href="artist_spotlight.html">ARTIST SPOTLIGHT</a></li>
        <li><a href="playlist.html">PLAYLIST</a></li>
      </ul>
    </nav>
    <img src="../static/musicalnotes.jpeg" width="100%" height="400">
    
    <div class="wrapper">
    <div class="header">
      <img class="header-image" src="../static/weeknd.jpeg" alt="Profile Image">
      <div class="header-text">Starboy</div>
      <div class="header-artist">WEEKND</div>
    </div>
    <div class="song-container">
      <div class="song-box">
        <img class="song-image" src="../static/sb.jpeg" alt="Song 1">
        <div>
          <div class="song-title">Starboy</div>
          
          <div class="song-timestamp">3:50</div>
          <form action="/add" method="POST">
            <input type="hidden" name="artist" value="WEEKND">
            <input type="hidden" name="album" value="Starboy">
            <input type="hidden" name="song" value="Starboy">
            <input type="hidden" name="url" value="3:50">
            <input type="submit" value="Add to Playlist">
        </form>
        
        </div>
      </div>
      <div class="song-box">
        <img class="song-image" src="../static/sb.jpeg" alt="Song 2">
        <div>
          <div class="song-title">I Feel It Coming</div>
          
          <div class="song-timestamp">4:29</div>
          <form action="/add" method="POST">
            <input type="hidden" name="artist" value="WEEKND">
            <input type="hidden" name="album" value="Starboy">
            <input type="hidden" name="song" value="I Feel It Coming">
            <input type="hidden" name="url" value="4:29">
            <input type="submit" value="Add to Playlist">
        </form>
        
        </div>
      </div>
      <div class="song-box">
        <img class="song-image" src="../static/sb.jpeg" alt="Song 3">
        <div>
          <div class="song-title">Love to Lay</div>
          
          <div class="song-timestamp">3:43</div>
          <form action="/add" method="POST">
            <input type="hidden" name="artist" value="WEEKND">
            <input type="hidden" name="album" value="Starboy">
            <input type="hidden" name="song" value="Love to Lay">
            <input type="hidden" name="url" value="3:43">
            <input type="submit" value="Add to Playlist">
        </form>
        
        </div>
      </div>
      <div class="song-box">
        <img class="song-image" src="../static/sb.jpeg" alt="Song 4">
        <div>
          <div class="song-title">Secrets</div>
         
          <div class="song-timestamp">4:26</div>
          <form action="/add" method="POST">
            <input type="hidden" name="artist" value="WEEKND">
            <input type="hidden" name="album" value="Starboy">
            <input type="hidden" name="song" value="Secrets">
            <input type="hidden" name="url" value="4:26">
            <input type="submit" value="Add to Playlist">
        </form>
        
        </div>
      </div>
      <div class="song-box">
        <img class="song-image" src="../static/sb.jpeg" alt="Song 5">
        <div>
          <div class="song-title">Die For You</div>
          <div class="song-timestamp">4:20</div>
          <form action="/add" method="POST">
            <input type="hidden" name="artist" value="WEEKND">
            <input type="hidden" name="album" value="Starboy">
            <input type="hidden" name="song" value="Die For You">
            <input type="hidden" name="url" value="4:20">
            <input type="submit" value="Add to Playlist">
        </form>
        
        </div>
      </div>
    </div>
    <footer>
    
      <p>Turn Up The Volume And Let The Music Speak</p>
      <a href="about.html"><b>About</b></a>
    </footer>
    
  </body>
</html>  
