<!DOCTYPE html>
 <html>
   <head>
     <title>SONGS PAGE</title>
     <head>
      <link rel="stylesheet" href="../static/index.css">
  
  </head>
  <body class="body">
    <nav>
      <ul class="nav">
        <li><a  href="index.html">HOME</a></li>
        <li><a href="about.html">ABOUT</a></li>
        <li><a class="active" href="artists.html">ARTISTS</a></li> 
        <li><a href="search.html">SEARCH</a></li>
        <li><a href="artist_spotlight.html">ARTIST SPOTLIGHT</a></li>
        <li><a href="playlist.html">PLAYLIST</a></li>
      </ul>
    </nav>
    <img src="../static/musicalnotes.jpeg" width="100%" height="400">
    
    <div class="wrapper">
    <div class="header">
      <img class="header-image" src="../static/swift.jpeg" alt="Profile Image">
      <div class="header-text">1989</div>
      <div class="header-artist">TAYLOR SWIFT</div>
    </div>
    <div class="song-container">
      <div class="song-box">
        <img class="song-image" src="../static/wd.jpeg" alt="Song 1">
        <div>
          <div class="song-title">Wildest Dreams</div>
          
          <div class="song-timestamp">3:40</div>
          <form action="/add" method="POST">
            <input type="hidden" name="artist" value="Taylor Swift">
            <input type="hidden" name="album" value="1989">
            <input type="hidden" name="song" value="Wildest Dreams">
            <input type="hidden" name="url" value="3:40">
            <input type="submit" value="Add to Playlist">
        </form>
        </div>
      </div>
      <div class="song-box">
        <img class="song-image" src="../static/ik.jpeg" alt="Song 2">
        <div>
          <div class="song-title">I Know Places</div>
          
          <div class="song-timestamp">3:16</div>
          <form action="/add" method="POST">
            <input type="hidden" name="artist" value="Taylor Swift">
            <input type="hidden" name="album" value="1989">
            <input type="hidden" name="song" value="I Know Places">
            <input type="hidden" name="url" value="3:16">
            <input type="submit" value="Add to Playlist">
        </form>
        </div>
      </div>
      <div class="song-box">
        <img class="song-image" src="../static/sk.jpeg" alt="Song 3">
        <div>
          <div class="song-title">Shake It Off</div>
          
          <div class="song-timestamp">3:39</div>
          <form action="/add" method="POST">
            <input type="hidden" name="artist" value="Taylor Swift">
            <input type="hidden" name="album" value="1989">
            <input type="hidden" name="song" value="Shake It Off">
            <input type="hidden" name="url" value="3:39">
            <input type="submit" value="Add to Playlist">
        </form>
        </div>
      </div>
      <div class="song-box">
        <img class="song-image" src="../static/bk.jpeg" alt="Song 4">
        <div>
          <div class="song-title">Blank Space</div>
         
          <div class="song-timestamp">3:52</div>
          <form action="/add" method="POST">
            <input type="hidden" name="artist" value="Taylor Swift">
            <input type="hidden" name="album" value="1989">
            <input type="hidden" name="song" value="Blank Space">
            <input type="hidden" name="url" value="3:52">
            <input type="submit" value="Add to Playlist">
        </form>
        </div>
      </div>
      <div class="song-box">
        <img class="song-image" src="../static/bad.jpeg" alt="Song 5">
        <div>
          <div class="song-title">Bad Blood</div>
          <div class="song-timestamp">3:32</div>
          <form action="/add" method="POST">
            <input type="hidden" name="artist" value="Taylor Swift">
            <input type="hidden" name="album" value="1989">
            <input type="hidden" name="song" value="Bad Blood">
            <input type="hidden" name="url" value="3:32">
            <input type="submit" value="Add to Playlist">
        </form>
        </div>
      </div>
    </div>
    <footer>
    
      <p>Turn Up The Volume And Let The Music Speak</p>
      <a href="about.html"><b>About</b></a>
    </footer>
    
  </body>
</html>  
