<!DOCTYPE html>
<html>
    <head>
        <title>ALBUMS PAGE</title>
        <link rel="stylesheet" href="../static/index.css">
    </head>
    <body class="body1" >
        <nav>
            <ul class="nav">
              <li><a href="index.html">HOME</a></li>
              <li><a href="about.html">ABOUT</a></li>
              <li><a class="active" href="artists.html">ARTISTS</a></li>
              <li><a href="search.html">SEARCH</a></li>
              <li><a href="artist_spotlight.html">ARTIST SPOTLIGHT</a></li> 
              <li><a href="playlist.html">PLAYLIST</a></li>
            </ul>
          </nav>
          <p style="margin-top: 100px;"></p>
       <h1 style="color: white;">ARIANA GRANDE</h1>
            <a href="album21-songs.html" class="imagebox">
                <img src="../static/sweet.jpeg" alt="Image Description">
                <div class="name-container">
                    <h2>SWEETNER</h2>
                    15 SONGS<br>
                    ~2018
                </div>
            </a>

            <a href="album22-songs.html" class="imagebox">
                <img src="../static/positions.jpeg" alt="Image Description">
                <div class="name-container">
                    <h2>POSITIONS</h2>
                    14 SONGS<br>
                    ~2020
                  </div>
            </a>

            <a href="album23-songs.html" class="imagebox">
                <img src="../static/thank.jpeg" alt="Image Description">
                <div class="name-container">
                    <h2>THANK U, NEXT</h2>
                    12 SONGS<br>
                    ~2019
                  </div>
            </a>

            <a href="album24-songs.html" class="imagebox">
                <img src="../static/myevery.jpeg" alt="Image Description">
                <div class="name-container">
                    <h2>MY EVERYTHING</h2>
                    15 SONGS<br>
                    ~2014
                  </div>
            </a>

            <a href="album25-songs.html" class="imagebox">
                <img src="../static/danw.jpeg" alt="Image Description">
                <div class="name-container">
                    <h2>DANGEROUS WOMAN</h2>
                    15 SONGS<br>
                    ~2016
                  </div>
            </a> 
            <img src="../static/musicalnotes.jpeg" width="100%" height="400">
            
            <footer>
    
                <p>Turn Up The Volume And Let The Music Speak</p>
                <a href="about.html"><b>About</b></a>
              </footer>  
    
    </body>
</html>