<!DOCTYPE html>
<html>
    <head>
        <title>ALBUMS PAGE</title>
        <link rel="stylesheet" href="../static/index.css">
    </head>
    <body class="body1" >
        <nav>
            <ul class="nav">
              <li><a href="index.html">HOME</a></li>
              <li><a href="about.html">ABOUT</a></li>
              <li><a class="active" href="artists.html">ARTISTS</a></li> 
              <li><a href="search.html">SEARCH</a></li>
              <li><a href="artist_spotlight.html">ARTIST SPOTLIGHT</a></li>
              <li><a href="playlist.html">PLAYLIST</a></li>
            </ul>
          </nav>
        <p style="margin-top: 100px;"></p>
       <h1 style="color: white;">TAYLOR SWIFT</h1>
            <a href="album01-songs.html" class="imagebox">
                <img src="../static/lover.jpeg" alt="Image Description">
                <div class="name-container">
                    <h2>LOVER</h2>
                    18 SONGS<br>
                    ~2019
                </div>
            </a>

            <a href="album02-songs.html" class="imagebox">
                <img src="../static/1989.jpeg" alt="Image Description">
                <div class="name-container">
                    <h2>1989</h2>
                    13 SONGS<br>
                    ~2014
                  </div>
            </a>

            <a href="album03-songs.html" class="imagebox">
                <img src="../static/Mid.png" alt="Image Description">
                <div class="name-container">
                    <h2>Midnights</h2>
                    13 SONGS<br>
                    ~2022
                  </div>
            </a>

            <a href="album04-songs.html" class="imagebox">
                <img src="../static/evermore.jpeg" alt="Image Description">
                <div class="name-container">
                    <h2>Evermore</h2>
                    15 SONGS<br>
                    ~2020
                  </div>
            </a>

            <a href="album05-songs.html" class="imagebox">
                <img src="../static/reputation.jpeg" alt="Image Description">
                <div class="name-container">
                    <h2>Reputation </h2>
                    15 SONGS<br>
                    ~2017
                  </div>
            </a> 
            <img src="../static/musicalnotes.jpeg" width="100%" height="400">
        
            <footer>
    
                <p>Turn Up The Volume And Let The Music Speak</p>
                <a href="about.html"><b>About</b></a>
              </footer>  
    
    </body>
</html>