<!DOCTYPE html>
<html>
    <head>
        <title>ALBUMS PAGE</title>
        <link rel="stylesheet" href="../static/index.css">
    </head>
    <body class="body1" >
        <nav>
            <ul class="nav">
              <li><a href="index.html">HOME</a></li>
              <li><a href="about.html">ABOUT</a></li>
              <li><a class="active" href="artists.html">ARTISTS</a></li> 
              <li><a href="search.html">SEARCH</a></li>
              <li><a href="artist_spotlight.html">ARTIST SPOTLIGHT</a></li>
              <li><a href="playlist.html">PLAYLIST</a></li>
            </ul>
          </nav>
          <p style="margin-top: 100px;"></p>
       <h1 style="color: white;">WEEKND</h1>
            <a href="album06-songs.html" class="imagebox">
                <img src="../static/HOURS.jpeg" alt="Image Description">
                <div class="name-container">
                    <h2>After Hours</h2>
                    14 SONGS<br>
                    ~2020
                </div>
            </a>

            <a href="album07-songs.html" class="imagebox">
                <img src="../static/starboy.jpeg" alt="Image Description">
                <div class="name-container">
                    <h2>Starboy</h2>
                    18 SONGS<br>
                    ~2016
                  </div>
            </a>

            <a href="album08-songs.html" class="imagebox">
                <img src="../static/dawn.jpeg" alt="Image Description">
                <div class="name-container">
                    <h2>Dawn FM</h2>
                    16 SONGS<br>
                    ~2022
                  </div>
            </a>

            <a href="album09-songs.html" class="imagebox">
                <img src="../static/kissland.jpeg" alt="Image Description">
                <div class="name-container">
                    <h2>Kiss land</h2>
                    10 SONGS<br>
                    ~2013
                  </div>
            </a>

            <a href="album10-songs.html" class="imagebox">
                <img src="../static/thurs.jpeg" alt="Image Description">
                <div class="name-container">
                    <h2>Thursday</h2>
                    10 SONGS<br>
                    ~2011
                  </div>
            </a> 
            <img src="../static/musicalnotes.jpeg" width="100%" height="400">
        
            <footer>
    
                <p>Turn Up The Volume And Let The Music Speak</p>
                <a href="about.html"><b>About</b></a>
              </footer>  
    
    </body>
</html>