<!DOCTYPE html>
<html>
    <head>
        <title>ALBUMS PAGE</title>
        <link rel="stylesheet" href="../static/index.css">
    </head>
    <body class="body1" >
        <nav>
            <ul class="nav">
              <li><a href="index.html">HOME</a></li>
              <li><a href="about.html">ABOUT</a></li>
              <li><a class="active" href="artists.html">ARTISTS</a></li> 
              <li><a href="search.html">SEARCH</a></li>
              <li><a href="artist_spotlight.html">ARTIST SPOTLIGHT</a></li>
              <li><a href="playlist.html">PLAYLIST</a></li>
            </ul>
          </nav>
          <p style="margin-top: 100px;"></p> 
       <h1 style="color: white;">ONE DIRECTION</h1>
            <a href="album11-songs.html" class="imagebox">
                <img src="../static/four.jpeg" alt="Image Description">
                <div class="name-container">
                    <h2>Four</h2>
                    16 SONGS<br>
                    ~2014
                </div>
            </a>

            <a href="album12-songs.html" class="imagebox">
                <img src="../static/home.jpeg" alt="Image Description">
                <div class="name-container">
                    <h2>Take Me Home</h2>
                    20 SONGS<br>
                    ~2012
                  </div>
            </a>

            <a href="album13-songs.html" class="imagebox">
                <img src="../static/midmem.jpeg" alt="Image Description">
                <div class="name-container">
                    <h2>Midnight Memories</h2>
                    18 SONGS<br>
                    ~2013
                  </div>
            </a>

            <a href="album14-songs.html" class="imagebox">
                <img src="../static/upalln.jpeg" alt="Image Description">
                <div class="name-container">
                    <h2>Up All Night</h2>
                    18 SONGS<br>
                    ~2012
                  </div>
            </a>

            <a href="album15-songs.html" class="imagebox">
                <img src="../static/made.jpeg" alt="Image Description">
                <div class="name-container">
                    <h2>Made In The Am</h2>
                    17 SONGS<br>
                    ~2015
                  </div>
            </a> 
            <img src="../static/musicalnotes.jpeg" width="100%" height="400">
        
            <footer>
    
                <p>Turn Up The Volume And Let The Music Speak</p>
                <a href="about.html"><b>About</b></a>
              </footer>  
    
    </body>
</html>