<!DOCTYPE html>
<html>
    <head>
        <title>ALBUMS PAGE</title>
        <link rel="stylesheet" href="../static/index.css">
    </head>
    <body class="body1" >
        <nav>
            <ul class="nav">
              <li><a href="index.html">HOME</a></li>
              <li><a href="about.html">ABOUT</a></li>
              <li><a class="active" href="artists.html">ARTISTS</a></li> 
              <li><a href="search.html">SEARCH</a></li>
              <li><a href="artist_spotlight.html">ARTIST SPOTLIGHT</a></li>
              <li><a href="playlist.html">PLAYLIST</a></li>
            </ul>
          </nav>
          <p style="margin-top: 100px;"></p>
       <h1 style="color: white;">ED SHEERAN</h1>
            <a href="album16-songs.html" class="imagebox">
                <img src="../static/divide.jpeg" alt="Image Description">
                <div class="name-container">
                    <h2>DIVIDE</h2>
                    16 SONGS<br>
                    ~2017
                </div>
            </a>

            <a href="album17-songs.html" class="imagebox">
                <img src="../static/loose.jpeg" alt="Image Description">
                <div class="name-container">
                    <h2>LOOSE CHANGE</h2>
                    8 SONGS<br>
                    ~2011
                </div>
            </a>

            <a href="album18-songs.html" class="imagebox">
                <img src="../static/5.jpeg" alt="Image Description">
                <div class="name-container">
                    <h2>5</h2>
                    10 SONGS<br>
                    ~2015
                  </div>
            </a>

            <a href="album19-songs.html" class="imagebox">
                <img src="../static/+.jpeg" alt="Image Description">
                <div class="name-container">
                    <h2>+</h2>
                    10 SONGS<br>
                    ~2011
                  </div>
            </a>

            <a href="album20-songs.html" class="imagebox">
                <img src="../static/noc6.jpeg" alt="Image Description">
                <div class="name-container">
                    <h2>No.6 COLLABORATIONS PROJECT</h2>
                    15 SONGS<br>
                    ~2019
                  </div>
            </a> 
            <img src="../static/musicalnotes.jpeg" width="100%" height="400">
        
            <footer>
    
                <p>Turn Up The Volume And Let The Music Speak</p>
                <a href="about.html"><b>About</b></a>
              </footer>  
    
    </body>
</html>