<!DOCTYPE html>
<html>
  <head>
    <title>MUSICAL NOTES:Home page</title>
    <link rel="stylesheet" href="../static/index.css">
    
  </head>
  <body style="background-color: powderblue">
    
  <nav>
    <ul class="nav">
      <li><a class="active" href="index.html">HOME</a></li>
      <li><a href="about.html">ABOUT</a></li>
      <li><a href="artists.html">ARTISTS</a></li> 
    </ul>
  </nav>
  <img src="../static/musicalnotes.jpeg" width="100%" height="500" >


    <h1 style="font-style: cursor;">TOP ARTISTS</h1>
    <a href="artist01-albums.html" class="imagebox">
      <img src="../static/swift.jpeg" alt="Image Description">
      <div class="name-container">
          <h2>TAYLOR SWIFT</h2>
        </div>
  </a>

  <a href="artist02-albums.html" class="imagebox">
      <img src="../static/weeknd.jpeg" alt="Image Description">
      <div class="name-container">
          <h2>WEEKND</h2>
        </div>
  </a>

  <a href="artist03-albums.html" class="imagebox">
      <img src="../static/one direction.jpeg" alt="Image Description">
      <div class="name-container">
          <h2>ONE DIRECTION</h2>
        </div>
  </a>
  <h1 style="font-style: cursor;">TOP ALBUMS</h1>
    
  <a href="album01-songs.html" class="imagebox">
    <img src="../static/lover.jpeg" alt="Image Description">
    <div class="name-container">
        <h2>LOVER</h2>
        18 SONGS<br>
        ~2019
    </div>
</a>

<a href="album06-songs.html" class="imagebox">
  <img src="../static/HOURS.jpeg" alt="Image Description">
  <div class="name-container">
      <h2>After Hours</h2>
      14 SONGS<br>
      ~2020
  </div>
</a>

<a href="album16-songs.html" class="imagebox">
  <img src="../static/divide.jpeg" alt="Image Description">
  <div class="name-container">
      <h2>DIVIDE</h2>
      16 SONGS<br>
      ~2017
  </div>
</a>

<h1 style="font-style: cursor;">TOP SONGS</h1>

<div class="wrapper1">
  
  <div class="song-container">
    <div class="song-box">
      <img class="song-image" src="../static/wd.jpeg" alt="Song 1">
      <div>
        <div class="song-title">Wildest Dreams</div>
        
        <div class="song-timestamp">3:40</div>
      </div>
    </div>
    <div class="song-box">
      <img class="song-image" src="../static/ah.jpeg" alt="Song 2">
      <div>
        <div class="song-title">Blinding Lights</div>
        
        <div class="song-timestamp">3:20</div>
      </div>
    </div>
    <div class="song-box">
      <img class="song-image" src="../static/div.jpeg" alt="Song 1">
      <div>
        <div class="song-title">Shape Of You</div>
        
        <div class="song-timestamp">3:54</div>
      </div>
    </div>
    
       </div>
       
  </div>

  <div class="main">
    <footer>
    
      <p>Turn Up The Volume And Let The Music Speak</p>
      <a href="about.html"><b>About</b></a>
    </footer>
  </div>
  <script src="../static/script.js"></script>
  </body>
</html>  